 :root {
     --blue: #5855EE;
     --f1-bg: #FFE0C2;
     --f2-bg: #D0D4FF;
     --making-bg: #5855EE;
     --client-bg: #6B6B6B;
     --social-bg: #6E6BFF;
 } 
 
 /********************************************
  General Rules:
 *********************************************/
 
 html {
     font-size: 10px;
     box-sizing: border-box;
 }
 
 * {
     margin: 0;
     box-sizing: inherit;
     list-style: none;
 }
 
 body {
     font-family: 'Manrope', sans-serif;
     padding: 4rem;
 }
 
 .container {
     width: 1140px;
     margin: 0 auto;
 }
 
 a {
     text-decoration: none;
     color: #ffffff;
     font-weight: bold;
     font-size: 1.8rem;
     display: inline-block;
 }
 
 h1 {
     font-size: 6rem;
     font-size: bold;
     color: #000000;
 }
 
 p {
     font-size: 1rem;
     font-family: 'Poppins' sans-serif;
     font-weight: normal;
     font-size: 1.6rem;
 }
 
 img {
     width: 100%;
 }

 button{
     background-color: transparent;
     border: none;
     outline: none;
     cursor: pointer;

 }

 .btn{
     padding: 2rem 3.2rem;
     border-radius: 1rem;
 }

h2{
    color: var(--blue);
    font-size: 1.6rem;
 }
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

 
 /********************************************
  Intro Section: 
 *********************************************/

 .intro{
     background-image: url('../images/hero_bg.png');
     background-repeat: no-repeat;
     background-size: cover;
     border-radius: 2rem;
     padding: 3rem -9.5rem 0;
     height: 90rem;
     position: relative;
 } 

 .nav{
     padding: 3rem 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
 }

 .nav__logo{
     width: 12.4rem;
 }

 .nav__list{
     display: flex;
 }
 .nav__item:not(:last-child){
    margin-right: 3rem;
 }
 .nav__link{
     padding: 0.5rem -1rem;
 }
 .nav__right{
     display: flex;
     align-items: center;
 } 
 .nav__search-btn{
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 4.5rem;
 }

 .nav__btn{
     background-color: var(--f1-bg);
     color: var(--blue);

 } 

 .hero{
     width: 70%;
     text-align: center;
     margin: 9rem auto 43rem;
 } 

 .hero__title{
     color: #ffffff;
     margin-bottom: 6rem;

 }

 .hero__btn{
     background-color: #ffffff;
     color: var(--blue);
    
 }

 .hero__btn img{
     width: 2rem;
     margin-left: 1rem;
 } 

 .hero__image{
    transform: translateY(90px);
 } 

 .cloud-left{
    width: 19rem;
    position: absolute;
    left: 10%;
    bottom: 20%;
    z-index: 2;
 } 
 .cloud-right{
     width: 27rem;
     position: absolute;
     bottom: 35%;
     right: 10%;
 } 
 /********************************************
  Statistics Section:
 *********************************************/

 .statistics{
     margin-top: 50rem;
 } 

 .statistics__container{
      display: flex;
      justify-content: space-between;
      align-items: center;
 } 

 .statistics__charts{
     width: 48%;
     display: flex;
     align-items: center;
     flex-direction: column;
 } 
 .statistics__user{
    width: 50%; 
 }

 .statistics__bar-chart{
    width: 50%;   
 }

.statistics__top{
     display: flex;
     justify-content: space-between;
     align-items: start;
 }
 .statistics__bottom-image{
    margin-top: 1rem;
 }
 .statistics__user{
     width: 50%;
     justify-content: space-between;
     
 }
 .statistics__text{
     width: 48%;
 } 

 .statistics__description{
     margin-top: 4.5rem;
 } 

 /********************************************
  Feature Section:
 *********************************************/

 .feature{
     padding: 16.6rem 0;
 } 

 .feature__list{
     text-align: center;
      display: flex;
      justify-content: space-between;
      align-items: center;
 } 

 .feature__item{
     border-radius: 1.5rem;
     width: 35rem;
     padding: 6rem 4.5rem;
 } 
 .feature__item_color-1{
     background-color: #FFF7ED;
 }
 .feature__item_color-2{
    background-color: #F2F3FF;
}
.feature__item_color-3{
    background-color: #FFF0F3;
} 

.feature__image{
    width: 19rem;
    height: 19rem;
}

.feature__name{
    color: #000000;
    font-size: 2.4rem;
    margin: 4.5rem 0 3.5rem;
}